{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
	<h1>{{title}}</h1>
{% endblock %}
{% block body %}
<div class="content-section">
	<div class="center">
		{% if add_ism %}
			<h1>Adicionar Insumo</h1>
		{% else %}
			<h1>Editar Insumo</h1>
		{% endif %}
		<br/>
		<form action="" method="post" class="form" role="form">
			{{ form.hidden_tag() }}
			{{ wtf.form_errors(form, hiddens="only") }}
			{{ wtf.form_field(form.descricao) }}
			{{ wtf.form_field(form.capacidade) }}
			{{ wtf.form_field(form.valorEstimado) }}
			{{ wtf.form_field(form.numeroPatrimonio) }}
			{{ wtf.form_field(form.artefatoTipo) }}
			{{ wtf.form_field(form.artefatoDono) }}
			{{ wtf.form_field(form.status) }}
			{{ wtf.form_field(form.submit) }}
		</form>
	</div>
</div>
{% endblock %}